<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Repositories</title>
</head>
<body>
<h2>{{ github_user.name }} has access to:</h2>
<ul>
    {% for repository in github_user.get_repos %}
        <li>{{ repository.name }}</li>
    {% empty %}
        <li>No repositories.</li>
    {% endfor %}
</ul>
</body>
</html>
